@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
@import url(https://fonts.googleapis.com/css?family=PT+Sans:regular,italic,700,700italic);
@import url(https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap);

:root {
    --accent-font: "Montserrat", sans-serif;
    --main-font: "PT Sans", sans-serif;
    --button-font: "Lato", sans-serif;

    --form-row-gap: 32px;
    --form-column-gap: 26px;

    --color-accent: #e5266e;
    --color-accent-hover: #b62a60;

    --color-light: #fff;
    --color-gray: #c4c4c4;
    --color-dark: #0c1014;
    --color-black: #000;

    --input-border-color: #d6dade;
    --label-color: #6a6e72;
}

* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    margin: 0;
}

.btn-reset {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.modal {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;

    padding: 100px 15px;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: rgba(0, 0, 0, 0.42);
}

.modal.modal-closed {
    display: none;
}

.modal__content {
    border-radius: 12px;
    background-color: var(--color-light);
}

.modal-content__container {
    padding: 53px 98px;
}

.modal-content__title {
    font-family: var(--accent-font);

    font-weight: 800;
    font-size: 28px;
    line-height: 121%;
    color: var(--color-dark);

    margin: 0;
    margin-bottom: 35px;
}

.form__content-container {
    display: flex;
    flex-direction: column;
    row-gap: var(--form-row-gap);

    margin-bottom: 50px;
}

.form__flex {
    display: flex;
    column-gap: var(--form-column-gap);
}

.form-flex__text {
    display: flex;
    flex-direction: column;
    row-gap: var(--form-row-gap);
}

.form-flex__file {
    position: relative;
    text-align: center;

    width: 100%;
    max-width: 175px;
}

.form__input-container {
    position: relative;
}

.form-file__container {
    width: 100%;
    height: 100%;
    width: 175px;
    max-height: 175px;

    position: relative;
}

.form-file__image-container {
    width: 100%;
    height: 100%;

    border-radius: 50%;
    overflow: hidden;

    background-color: var(--color-black);

    transition: filter 0.25s;
}

.form-file__image {
    display: block;
    width: 100%;
    height: 100%;
    aspect-ratio: 1;

    object-fit: cover;
    object-position: center;
}

.form-file__button-reset {
    position: absolute;
    top: 5px;
    right: 5px;
    padding: 10px;
    border-radius: 50%;
    border: none;
    background-color: var(--color-light);
    transition: background-color 0.25s, opacity 0.25s;
    cursor: pointer;

    opacity: 0;
}

.form-file__button-reset svg {
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-file__button {
    font-family: var(--main-font);
    font-size: 18px;
    line-height: 150%;
    text-decoration: underline;
    text-align: center;
    color: var(--color-light);

    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);

    opacity: 0;

    transition: opacity 0.25s;

    cursor: pointer;
}

.form-file__button-icon {
    margin: 0;
    max-width: 30px;
    max-height: 30px;

    margin: 0 auto;
    margin-bottom: 7px;
}

.form__label,
.form-file__label {
    font-family: var(--main-font);
    color: var(--label-color);
}

.form__label {
    font-size: 12px;
    line-height: 133%;
    position: absolute;
    top: 8px;
    left: 16px;
}

.form-file__label {
    font-size: 14px;
    font-weight: 700;
    line-height: 171%;

    display: inline-block;
    margin-bottom: 7px;
}

.form-file__label--required {
    position: relative;
}

.form__label--required,
.form-file__label--required {
    padding-left: 13px;
}
.form__label--required::before,
.form-file__label--required::before {
    content: "✱";
    font-size: 12px;

    position: absolute;
    left: 0;
    color: #d90000;
    width: 10px;
    height: 10px;
}

.form__input--text,
.form__select {
    font-size: 16px;
    line-height: 150%;
    color: var(--color-dark);

    width: 100%;
    min-width: 360px;
    height: 56px;
    border: 1px solid var(--input-border-color);
    border-radius: 2px;

    padding-left: 16px;
    padding-right: 42px;
}

.form__input--labeled,
.form__select--labeled {
    padding-top: 15px;
}

.form__select {
    appearance: none;
    -webkit-appearance: none;
}

.form__input-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 16px;

    pointer-events: none;
}

.form__input--file {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.form__submit-button,
.form__reset-button {
    font-weight: 400;
    font-size: 16px;

    display: block;
}

.form__submit-button {
    font-family: var(--button-font);
    line-height: 112%;
    color: var(--color-light);

    width: 100%;
    padding: 15px 0;
    margin-bottom: 15px;

    border-radius: 4px;
    background-color: var(--color-accent);
    transition: background-color 0.25s;
}

.form__submit-button:disabled {
    background-color: #4d4c4c;
    cursor: no-drop;
}

.form__reset-button {
    font-family: var(--main-font);
    line-height: 150%;
    color: #0848c0;

    margin: 0 auto;

    background-color: transparent;
}

@media (max-width: 800px) {
    .form__input--text,
    .form__select {
        min-width: 210px;
    }

    .modal-content__title {
        text-align: center;
    }
}
@media (max-width: 655px) {
    :root {
        --form-row-gap: 16px;
    }

    .modal {
        padding: 30px 10px;
    }

    .modal-content__container {
        padding: 30px 30px;
    }

    .modal-content__title {
        margin-bottom: 20px;
        font-size: 24px;
    }

    .form__flex {
        flex-direction: column;
    }

    .form-flex__text {
        order: 1;
    }

    .form-flex__file {
        margin: 0 auto;
        margin-bottom: var(--form-row-gap);
        order: 0;
    }

    .form-file__container {
        max-width: none;
        max-height: none;
    }

    .form-file__image-container {
        margin-bottom: 10px;
    }

    .form-file__button-icon {
        display: none;
    }
}

@media (min-width: 656px) and (hover: hover) {
    .form-file__container:hover .form-file__image-container {
        filter: brightness(40%);
    }
}

@media (max-width: 440px) {
    .modal-content__title {
        margin-bottom: 15px;
        font-size: 18px;
    }
}

@media (hover: none), (max-width: 655px) {
    .form-file__button {
        position: relative;
        top: 0;
        left: 0;
        opacity: 1;

        color: var(--color-dark);
    }

    .form-file__button-icon {
        display: none;
    }
}

@media (hover: none) {
    .form__submit-button:not(:disabled):active {
        background-color: var(--color-accent-hover);
    }

    .form-file__button-reset {
        opacity: 1;

        transition: none;
    }

    .form-file__button-reset:active {
        background-color: var(--color-gray);
    }
}

@media (hover: hover) {
    .form-file__container:hover .form-file__button,
    .form-file__container:hover .form-file__button-reset {
        opacity: 1;
    }

    .form-file__button-reset:hover {
        background-color: var(--color-gray);
    }

    .form__submit-button:not(:disabled):hover {
        background-color: var(--color-accent-hover);
    }
}
